@import "../colors";

.home-page-container {
    .heading-container {
        .page-heading-outer {
            .page-heading {
                line-height: 100px;
                vertical-align: middle;
                text-align: center;
                font-size: 60px;
                font-family: 'Josefin Sans', sans-serif;
            }
        }

        img.logo {
            max-height: 100px;
        }
    }

    .suggestion-panel {
        .suggestion-option {
            &:hover {
                background-color: $lycan-gray-lighter;
            }
        }
    }

    span {
        &.title {
            font-weight: 600;
        }

        & .description {
            font-style: italic;
        }
    }
}